<!-- 
 Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.

 Permission is hereby granted, free of charge, to any person obtaining a copy of this
 software and associated documentation files (the "Software"), to deal in the Software
 without restriction, including without limitation the rights to use, copy, modify,
 merge, publish, distribute, sublicense, and/or sell copies of the Software, and to
 permit persons to whom the Software is furnished to do so.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
 OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
 SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. -->

@model LeaveWebApp.Models.Leave

@{
    ViewData["Title"] = "Approval Status";
}

<h1>Approval Status</h1>

<hr />

<p><b>Employee Name </b>- @Model.EmployeeName</p>
<p><b>Employee ID</b> -@Model.EmployeeID</p>
<p><b>Leave Start Date</b> - @Model.LeaveStartDate</p>
<p><b>Leave End Date</b> - @Model.LeaveEndDate</p>
<p><b>Leave ID </b> - @Model.LeaveID</p>
@if (@Model.LeaveStatus != null && @Model.LeaveStatus == "Approved")
{
    <p class="text-success"><b>Leave Status </b> - @Model.LeaveStatus</p>
    <h1>🎉</h1>
}
else
{
    <p class="text-danger"><b>Leave Status </b> - @Model.LeaveStatus</p>
    <h1>😭</h1>
}
<hr />

<div>
    <a asp-action="LeavesList"> < Leave Requests</a>
</div>